<div class="text-pink-700">
    <p>Your permissions are</p>
    
    {% set roles = ['BASIC', 'BAN', 'EDIT', 'DELETE'] %}
    {% set actual_role = app.user.roles[0] %}

    {# USER #}
    {% if actual_role == 'ROLE_USER' %}
    {{ roles[0] }}

    {# MOD #}
    {% elseif actual_role == 'ROLE_MOD' %}
    {{ roles[0] }}

    {# ADMIN #}
    {% elseif actual_role == 'ROLE_ADMIN' %}
    {% set permissionsAdmin = roles|length - 2 %}

    {% for i in range(low = 0, high = permissionsAdmin, step = 1) %}
        {{ roles[i] }}
        {% if i != permissionsAdmin %}
            -
        {% endif %}
    {% endfor %}
    
    {# OWNER #}
    {% elseif actual_role == 'ROLE_OWNER' %}
    {{ roles|join('-') }}

    {# NO_PERMISSIONS #}
    {% else %}
    

    {% endif %}
</div>