{% if is_granted('ROLE_ALLOWED_TO_DELETE') and (user.roles != app.user.roles) %}    
    <form class="d-inline-block" method="post" action="{{ path('admin_users_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this user?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="button-red"><i>delete</i></button>
    </form>
    {% else %}
        <button class="button-red not_enough_permissions"><i>delete</i></button>
{% endif %}