{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <div class="container">
        <p class="title">New Task</h1>

        {{ include('task/_form.html.twig') }}

        {{ include('task/return_to_list.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/newTask.js')}}"></script>
{% endblock %}